# General
.DS_Store
*.log
node_modules/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfstate.d/
*.tfvars
terraform.tfvars
!prod.tfvars

# Local
memory/
data/

# Lanbda
lambda-deployment.zip
lambda-package/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.venv
venv/
ENV/
env.bak/
venv.bak/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# Next.js / React
.next/
out/
build/
.vercel/
*.tsbuildinfo
next-env.d.ts
